div

    div.form-group
        label(for="email") Email
        input(type="email" id="email" name="email" required placeholder="Enter your email")

    div.form-group
        label(for="password") Password
        input(type="password" id="password" name="password" required placeholder="Enter your password")