div

    div.form-group
        label(for="email") Email
        input(type="email" id="email" name="email" required placeholder="Enter your email")

    div.form-group
        label(for="password") Password
        input(type="password" id="password" name="password" required placeholder="Enter your password")

    div.form-group
        label(for="firstName") First Name
        input(type="text" id="firstName" name="firstName" required placeholder="John")

    div.form-group
        label(for="lastName") Last Name
        input(type="text" id="lastName" name="lastName" required placeholder="Doe")

    div.form-group
        label(for="phone") Phone number
        input(type="text" id="phone" name="phone" required placeholder="+4412312323")