extends ../layouts/base.pug

block head
  title RestB - Restaurant Booking

block content
  .landing
    h1 Welcome to RestB
    p Restaurant booking made simple

    .login-section
      a.login-btn(href="/views/pages/login.html") Login
      |  
      a.login-btn(href="/views/pages/register.html") Register
      br
      a.login-btn(href="/views/pages/restaurants.html") Browse Restaurants

