extends ../layouts/base.pug

block head
  title Login 

block content
  .login-container
    .login-form
      h2 Login to test

      .user-type-selector
        .user-type-tabs
          button.user-type-tab.active(type="button" data-type="user") Customer Login
          button.user-type-tab(type="button" data-type="partner") Partner Login

      form
        input(type="hidden" id="userType" name="userType" value="user")

        .form-group
          label(for="email") Email
          input(type="email" id="email" name="email" required placeholder="Enter your email")

        .form-group
          label(for="password") Password
          input(type="password" id="password" name="password" required placeholder="Enter your password")

        button.login-submit(type="submit") Login

        .login-links
          a(href="/") Back to Home
          | • 
          a(href="#") Forgot Password?
          | • 
          a(href="/views/pages/register") Create Account

block scripts
  script(src="/assets/js/login.js")
