doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Register - RestB
    link(rel="stylesheet", href="/assets/css/style.css")
  
  body
    header
      include ../partials/header.pug
    
    main
      .register-container
        .register-form
          h2 Register for RestB
          
          // User type selection
          .user-type-selector
            .user-type-tabs
              button(type="button" class="user-type-tab active" data-type="user") Customer Registration
              button(type="button" class="user-type-tab" data-type="partner") Partner Registration
          
          form
            // Hidden field to store user type
            input(type="hidden" id="userType" name="userType" value="user")
            
            .form-group
              label(for="firstName") First Name
              input(type="text" id="firstName" name="firstName" required placeholder="Enter your first name" minlength="2" maxlength="255")
            
            .form-group
              label(for="lastName") Last Name
              input(type="text" id="lastName" name="lastName" required placeholder="Enter your last name" minlength="2" maxlength="255")
            
            .form-group
              label(for="email") Email
              input(type="email" id="email" name="email" required placeholder="Enter your email")
            
            .form-group
              label(for="password") Password
              input(type="password" id="password" name="password" required placeholder="Create a password" minlength="3")
            
            button(type="submit" class="register-submit") Register
            
            .register-links
              a(href="/views/pages/login.html") Already have an account? Login
              | • 
              a(href="/index.html") Back to Home
    
    include ../partials/footer.pug
    
    script(src="/assets/js/config.js")
    script(src="/assets/js/utils/storage.js")
    script(src="/assets/js/utils/ui.js")
    script(src="/assets/js/utils/api.js")
    script(src="/assets/js/utils/auth.js")
    script(src="/assets/js/utils/access-control.js")
    script(src="/assets/js/main.js")
    script(src="/assets/js/register.js")
