extends ../layouts/base.pug

block head
  title Register - RestB

block content
  .auth-page
    .auth-card
      h1#registerTitle.auth-title Customer Registration - RestB
      p.auth-sub Create your account to start booking.

      // Tabs
      .auth-tabs
        button.auth-tab.is-active(type="button" data-type="user") Customer Registration
        button.auth-tab(type="button" data-type="partner") Partner Registration

      // Hidden field
      input#userType(type="hidden" name="userType" value="user")

      // Form
      form.auth-form(action="/views/pages/register" method="post")
        .auth-grid
          .auth-field
            label(for="firstName") First Name
            input#firstName(type="text" name="firstName" required placeholder="Enter your first name")

          .auth-field
            label(for="lastName") Last Name
            input#lastName(type="text" name="lastName" required placeholder="Enter your last name")

          .auth-field.auth-span-2
            label(for="email") Email
            input#email(type="email" name="email" required placeholder="Enter your email")

          .auth-field.auth-span-2
            label(for="password") Password
            input#password(type="password" name="password" required placeholder="Create a password")

        button.restb-btn.register-submit(type="submit") Create Account

        .auth-links
          a(href="/views/pages/login") Already have an account?
          |  •
          a(href="/") Back to Home

block scripts
  script(src="/assets/js/register.js")
