doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Login - RestB
    link(rel="stylesheet", href="/assets/css/styles.css")
  
  body
    header
      include ../partials/header
    
    main
      .login-container
        .login-form
          h2 Login to RestB
          
          // User type selection
          .user-type-selector
            .user-type-tabs
              button(type="button" class="user-type-tab active" data-type="user") Customer Login
              button(type="button" class="user-type-tab" data-type="partner") Partner Login
          
          form
            // Hidden field to store user type
            input(type="hidden" id="userType" name="userType" value="user")
            
            .form-group
              label(for="email") Email
              input(type="email" id="email" name="email" required placeholder="Enter your email")
            
            .form-group
              label(for="password") Password
              input(type="password" id="password" name="password" required placeholder="Enter your password")
            
            button(type="submit" class="login-submit") Login
            
            .login-links
              a(href="/index.html") Back to Home
              | • 
              a(href="#") Forgot Password?
              | • 
              a(href="/views/pages/register.html") Create Account
    
    include ../partials/footer
    
    script(src="/assets/js/config.js")
    script(src="/assets/js/utils/storage.js")
    script(src="/assets/js/utils/ui.js")
    script(src="/assets/js/utils/api.js")
    script(src="/assets/js/utils/auth.js")
    script(src="/assets/js/utils/access-control.js")
    script(src="/assets/js/main.js")
    script(src="/assets/js/login.js")
