.dash-header
    .dash-title
        h1 {{title}}
        p {{secondTitle}}

    // Brand component inside the header
    div.dash-brand-minimal#brand-container
        .dash-brand-label {{name}}
        .dash-brand-logo
            img.js-brand-img(src="{{logoURL}}" alt="{{name}} logo")
