nav.navBar
    a#navLogo.navItem(href='#home') /:RestBoo
    button#navToggle.navToggle ≡
    ul#navMenu.navRight
        li#nav-signin.trackable
            a#navSignIn.navItem(href='#signin') Sign In
        li#nav-signout.trackable
            a#navSignOut.navItem(href='#signout') Sign Out
        li#nav-profile.trackable
            a#navProfile.navItem(href='#profile') Profile
        li#nav-dashboard.trackable
            a#navDashboard.navItem(href='#dashboard') Dashboard
        li#nav-manage-restaurants.trackable
            a#navAdminRest.navItem(href='#adminrestaurants') Manage Restaurants
        li#nav-bookings.trackable
            a#navMyBooking.navItem(href='#bookings') Bookings
        li#nav-manage-bookings.trackable
            a#navManageBookings.navItem(href='#manage-bookings') Manage Bookings
