nav.navBar
    a#navLogo.navItem(href='#home') /:RestBoo
    button#navToggle.navToggle ≡
    ul#navMenu.navRight
        li
            a#navSignIn.navItem(href='#signin') Sign In
        li
            a#navSignOut.navItem(href='#signout') Sign Out
        li
            a#navProfile.navItem(href='#profile') Profile
