nav.navBar
    a#navLogo.navItem(href='#home') /:RestBoo
    button#navToggle.navToggle ≡
    ul#navMenu.navRight
        li#nav-signin.trackable
            a#navSignIn.navItem(href='#signin') Sign In
        li#nav-signup.trackable
            a#navSignUp.navItem(href='#signup') Sign Up
        li#nav-signout.trackable
            a#navSignOut.navItem(href='#signout') Sign Out
        li#nav-profile.trackable
            a#navProfile.navItem(href='#profile') Profile
        li
            a#navRestaurantDetails.navItem(href='#restaurant-details') Restaurant Details
        li#nav-dashboard.trackable
            a#navDashboard.navItem(href='#dashboard') Dashboard
        li
            a#navAdminRest.navItem(href='#adminrestaurants') Admin Rest
        li
            a#navMyBooking.navItem(href='#mybooking') MyBooking
