.pagination
    ul.pagination-list#pagination
        // Example: Prev button
        li
            a.pagination-btn.prev(href="#" data-page="1") Prev

        // Example: page number
        li
            a.pagination-btn.page(href="#" data-page="1") 1

        // Example: Next button
        li
            a.pagination-btn.next(href="#" data-page="2") Next