doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title RestB Application
    link(rel="stylesheet", href="/assets/css/styles.css")
    block head
    
  body
    header
      include ../partials/header.pug
    
    main
      block content
    
    footer
      include ../partials/footer.pug
    
    script(src="/assets/js/config.js")
    script(src="/assets/js/utils/storage.js")
    script(src="/assets/js/utils/ui.js")
    script(src="/assets/js/utils/api.js")
    script(src="/assets/js/utils/auth.js")
    script(src="/assets/js/utils/access-control.js")
    script(src="/assets/js/main.js")
    block scripts
