div.admin-restaurants-page
    .ar-shell
        main.ar-main-content
            div#brand-editor-header.trackable

            .ar-page-actions
                button#ar-new-btn.ar-primary-btn(type="button") Create New Restaurant

            #restaurants-empty.ar-empty(style="display:none;")
                h3 No restaurants yet
                p Create your first restaurant to get started.

            #restaurants-list.ar-list
                //- Restaurant editor cards injected here

        div#pagination

    include ./components/brandEditorHeader.pug
    include ./components/restaurantAdminCard.pug