div
    h1 Auth

    h2 User type
    button(type="button" class="user") User
    button(type="button" class="partner") Partner

    h2: Coose Auth type
    button(type="button" class="user-register") Login
    button(type="button" class="partner-register") Register
    div#auth01