div.dashboard-page
    .dashboard-wrap
        .dash-header
            .dash-title
                h1#dashboardTitle Bookings Manage
                p#dashboardSub Select a restaurant to manage its bookings.
            include components/brandLogo.pug

            +brandLogoComponent("La Benetti")

        .container.py-5
            .manage-bookings-container#restaurant-list
                // Restaurant cards will be rendered here by JavaScript