div.dashboard-page
    .dashboard-wrap
        .dash-header
            .dash-title
                h1#dashboardTitle Bookings Manage
                p#dashboardSub Select a restaurant to manage its bookings.

        div#brand-container

        .container.py-5
            .manage-bookings-container#restaurant-list
    div#pagination