div
    h1 Auth

    form#resetPasswordForm
        h2 Your new password

        div.form-group
            label(for="password") Password
            input(type="password" id="password" name="password" required placeholder="Enter your password")

        div.form-group
            label(for="password") Repeat password
            input(type="password" id="passwordRepeat" name="passwordRepeat" required placeholder="Repeat your password")

        button(type="submit") Submit



