// src/views/partials/header.pug
// Render all navbars once. JS/CSS will decide which one shows.

.nav-shell(data-nav="guest")
  include navbar-guest.pug

.nav-shell(data-nav="user")
  include navbar-user.pug

.nav-shell(data-nav="staff")
  include navbar-staff.pug

.nav-shell(data-nav="admin")
  include navbar-admin.pug