nav.navbar
  .nav-container
    a.nav-logo(href="/") Logo
    .nav-actions
      a.nav-btn(href="/views/pages/bookings") My Bookings
      a.nav-btn(href="/views/pages/profile") Profile
      a.nav-btn(href="#") Logout

