nav.navbar
  .nav-container
    a.nav-logo(href="/") RestB

    .nav-links
      a.nav-link(href="/views/pages/restaurants") Restaurants
      a.nav-link(href="/views/pages/employees") Employees
      a.nav-link(href="/views/pages/reports") Reports

    .nav-actions
      a.nav-btn(href="/views/pages/profile") Profile
      a.nav-btn.logout(href="#") Logout

