nav.navbar
  .nav-container
    a.nav-logo(href="/") RestB

    .nav-links
      a.nav-link(href="/views/pages/manage-bookings") Manage Bookings
      a.nav-link(href="/views/pages/tables") Tables

    .nav-actions
      a.nav-btn(href="/views/pages/profile") Profile
      a.nav-btn.logout(href="#") Logout

