nav.navBar
    a#navLogo.navLeft(href='index.html') /:RestBoo
    button#navToggle.navToggle ≡
    ul#navMenu.navRight
        li
            a#navProjects.navItem(href='#signin') Sign In
        li
            a#navTechStack.navItem(href='#signout') Sign Out
        li
            a#navLibrary.navItem(href='#profile') Profile
