/* Reset and base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  line-height: 1.6;
  color: #333;
  background: #f8f9fa;
}


/* NAVIGATION BAR */

#navLogo {
  text-decoration: none;
  margin: 50px;
}

.navBar {
  height: 56px;
  position: sticky;
  top: 0;
  z-index: 1000;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #222;
  padding: 0px 12px;
}

.navItem {
  font-weight: bold;
  font-size: 1.2rem;
  color: white;
}

.navRight {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  align-items: center;
  height: 100%;
}

.navRight li {
  height: 100%;
}

.navRight a {
  color: white;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0px 10px;
}

.navToggle {
  display: none;
  font-size: 1.6rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

@media (max-width: 840px) {
  .navToggle {
    display: block;
  }

  .navRight {
    position: absolute;
    top: 100%;
    right: 0;
    background: #222;

    flex-direction: column;
    width: 200px;
    height: auto;
    display: none;
    padding: 0;
    margin: 0;

  }

  .navRight li,
  .navRight a {
    width: 100%;
    height: auto;
  }

  .navRight a {
    padding: 10px
  }

  .navRight.open {
    display: flex;
  }
}

.navRight a.navActive {
  background: #50b613;
  color: #fff;
}

.navRight a:hover,
.navRight a.navActive:hover {
  background-color: #fff;
  color: #000;
}

/** Other staff
 */

.active {
  background-color: #3498db; /* blue */
}

