doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title RestBoo - Restaurant Booking
    link(rel="stylesheet", href="./css/styles.css")
    script(src='https://code.jquery.com/jquery-3.7.1.min.js')
  body
    nav
      include components/nav

    content#content

    div(style="display:none")
      template#auth-template
        include pages/auth
    div(style="display:none")
      template#profile-template
        include pages/profile
    div(style="display:none")
      template#login-component-template
        include components/login
    div(style="display:none")
      template#register-component-template
        include components/register

    script(type="module" src="./js/main.js")
