doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title RestBoo - Restaurant Booking
    link(rel="stylesheet", href="./css/styles.css")
    script(src='https://code.jquery.com/jquery-3.7.1.min.js')
  body
    nav
      include pages/components/nav

    content#content
      include pages/home

    div(style="display:none")
      template#auth-template
        include pages/auth
    div(style="display:none")
      template#profile-template
        include pages/profile
    div(style="display:none")
      template#home-template
        include pages/home
    div(style="display:none")
      template#login-component-template
        include pages/components/authForms/login
    div(style="display:none")
      template#register-component-template
        include pages/components/authForms/register
    div(style="display:none")
      template#forgot-password-component-template
        include pages/components/authForms/forgotPassword
    div(style="display:none")
      template#dummy-profile-template
        include pages/components/dummyProfileTemplate
    script(src='https://cdn.jsdelivr.net/npm/sweetalert2@11')
    script(type="module" src="./js/main.js")
